<%- layout('layouts/bolierplate') %>
<form action="/campgrounds/<%= foundCampground.id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Campground Title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      placeholder="<%= foundCampground.title %>"
      value="<%= foundCampground.title %>"
    />
  </div>

  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      placeholder="<%= foundCampground.location %>"
      value="<%= foundCampground.location %>"
    />
  </div>

  <button type="submit">Save changes</button>
</form>
<a href="/campgrounds/<%= foundCampground.id %>">Cancel</a>
