<%- layout('layouts/bolierplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      class="validated-form"
      action="/campgrounds/<%= campground.id %>?_method=PUT"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Campground Title</label>
        <input
          value="<%= campground.title %>"
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          value="<%= campground.location %>"
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          value="<%= campground.image %>"
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            value="<%= campground.price %>"
            type="number"
            class="form-control"
            name="campground[price]"
            id="price"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info text-light" type="submit">
          Save changes
        </button>
      </div>
    </form>
    <a class="btn btn-danger" href="/campgrounds/<%= campground.id %>"
      >Cancel</a
    >
  </div>
</div>
